@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-navigation {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #382419;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#map-container {
  transition: margin-left 0.5s;
  padding: 20px;
  top: 0 !important;
}

.App-title {
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  padding: 10px 30px 30px;
}

.input-wrapper {
  width: 290px;
  text-align: left;
  margin-left: 30px;
}

.forts {
  padding: 20px;
  font-size: 1.5em;
  color: #fff;
}

.forts li {
  padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
